@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 12 192 202; /* cyan 0dc0ca */
		--color-secondary: 233 207 61; /* gold e9cf3d */
		--color-neutral: 255 234 212; /* wood ffead4 */
	}
}
