<section class="bg-stone-200 mb-16">
  <div class="max-w-xl place-content-around container mx-auto flex justify-between justify-items-center">
      <div class="flex flex-col items-center justify-center">
          <img src="images/001-beauty.png" />
          Facials
      </div>
      <div class="flex flex-col items-center justify-center">
          <img src="images/002-eyebrow.png" />
          Lashes and brows
      </div>
      <div class="flex flex-col items-center justify-center">
          <img src="images/003-makeup-brushes.png" />
          Makeup
      </div>
  </div>
</section>

<section class="bg-stone-200 my-16">
  <div class="container mx-auto flex flex-wrap">
    <div class="grid mx-auto xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-8">
      {% for service in services %}
        {% include "03-service.html" %}
      {% endfor %}
    </div>
  </div>
</section>
