<div>
  <div class="sm:max-w-md sm:rounded-xl">
    {% if False and service.image %}
    <img class="w-full max-h-96 aspect-video object-cover object-top rounded-lg nm-flat-stone-200-lg" src="{{ service.image.url }}" alt="{{ service.title }}">
    {% endif %}
    <div class="pb-4">
      <h2 class="w-full py-2 px-4 text-3xl">
        {{ service.title }}
      </h2>
      <p class="text-stone-900 px-4 text-base mb-5">
        {{ service.description }}
      </p>
      <div class="px-4 flex items-center place-content-end">
        <div class="text-stone-900 text-xl text-base p-5 flex flex-col items-end justify-center">
            <div>{{ service.duration }}</div>
            <div>{{ service.price }}</div>
        </div>
        <button
            class="book-btn mx-6 px-5 aspect-square rounded-full text-2xl text-cyan-400 font-bold nm-convex-stone-200-lg hover:nm-flat-stone-200-lg"
            data-service-id="{{ service.title }}"
            data-duration="{{ service.duration_min }}"
            type=button>
                Book
        </button>
      </div>
    </div>
  </div>
</div>
