<table class="table-auto max-w-lg mx-auto text-xl">
<thead>
  <tr>
    <th class="py-2 font-medium text-left">Service</th>
    <th class="py-2 font-medium text-right">Time</th>
    <th class="py-2 font-medium text-right">Price</th>
  </tr>
</thead>
<tbody class="divide-y divide-slate-700">
  {% for service in services %}
    {% if service.index == 1 %}
      <tr><td colspan="3" class="py-2 font-medium text-center">{{ service.category_name }}</td></tr>
    {% endif %}
    <tr class="book-btn cursor-pointer"
        data-service-id="{{ service.title }}"
        data-duration="{{ service.duration_min }}"
    >
      <td class="pr-4">{{ service.title }}</td>
      <td class="text-right">{{ service.duration }}</td>
      <td class="pl-4 text-right">{{ service.price }}</td>
    </tr>
  {% endfor %}
</tbody>
</table>
