<section class="w-full bg-primary py-8">
 <div class="max-w-prose container mx-auto">
   <h1 class="py-2 sm:text-5xl text-3xl font-medium leading-tight text-center text-secondary">
     {{ parts["7.06"].title }}
   </h1>
 </div>
 <div class="max-w-prose container mx-auto flex sm:flex-row flex-col">
   <img class="w-full h-auto object-cover max-h-72 aspect-square sm:rounded-lg sm:mr-4" src="{{ parts["7.06"].image }}" alt="{{ parts["7.06"].title }}" />
   <div>
    <p class="p-2 text-amber-100 text-xl font-light">
      {{ parts["7.06"].text }}
    </p>
   </div>
 </div>
</section>
