fastapi[standard]
pydantic-settings
sqlmodel
alembic
httpx
python-dateutil
psycopg2-binary
pytz
cachetools
types-cachetools
schedule
ical
tenacity

stripe
squareup
twilio

google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

sentry-sdk[fastapi]
